<% provide(:title, "Help") %>
<h1>Como podemos ayudarte?</h1>
<%= image_tag 'help.png' %>
<p> Un video </p>
<iframe width="640" height="360" src="https://www.youtube.com/embed/sav9SioQzOE" frameborder="0" allowfullscreen></iframe>
